.row.header {
  height: 54px;
  background: #fff;
  margin-bottom: 5px;
}

table.mceLayout, textarea.tinyMCE {
    width: 100% !important;
}

.note-desktop {
    display: none;
}

@media only screen and (min-width: 600px) {
    table.mceLayout, textarea.richEditor {
       width: 600px !important;
    }

    .note-desktop {
        display: block;
    }
    .note-mobile {
        display: none;
    }
}

.top-space-15 {
  margin-top: 15px;
}

.top-space-80 {
  margin-top: 80px;
}

.list-btn {
  margin-right: 5px;
}

.list-margin-btn {
  margin-left: 5px;
  margin-right: -15px;
  margin-top:-2px;
  margin-bottom: 10px;
}

.detail-btn {
  margin-left: 5px;
}

.inline-btn {
  margin-top: 28px;
}

.grid {
  height: 360px;
}

.grid-150 {
  height: 150px;
}

.grid-200 {
  height: 200px;
}

.grid-423 {
  height: 423px;
}

.grid-500 {
  height: 500px;
}

.grid-500 {
  height: 500px;
}

.grid-align-right {
  text-align: right;
}

.ui-grid-row .ui-grid-cell { cursor:pointer; }

.auth-forms {
  max-width:600px;
  margin:auto;
  margin-top: 80px;
  background: #fff;
  padding:1px 25px 25px 25px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none
}

.menu-logo {
  float: left;
  height: 50px;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 20px;
}

div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}

.modal.fade .modal-dialog {
   transform: translate(0px, -25%);
   transition: transform 0.3s ease-out 0s;
}
.modal.fade.in .modal-dialog {
   transform: translate(0px, 0px);
}
.flyover {
   left: 150%;
   overflow: hidden;
   position: fixed;
   width: 30%;
   opacity: 0.9;
   z-index: 1050;
   transition: left 0.6s ease-out 0s;
}
.flyover.in {
   left: 70%;
}
.flyover-top {
   top: 60px;
}

.messages {
  font-size: smaller;
  color: red;
}

.nav-pic {
  margin: -2px 5px 0 0;
  max-height: 30px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.circular-avatar {
  position: absolute;
  display: block;
  margin: 12px 0px 0px 12px;
  width: 30px;
  height: 30px;
  overflow: auto;
  border: 0px solid black;
  border-radius: 50%;
}

.circular-avatar img {
  position: absolute;
  top: -10px;
  right: 0px;
  border-radius: 50%;
  display: block;
  max-height: 30px;
  max-width: 30px;
}

legend {
	font-size: 18px;
	padding: 7px 0px
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.no-border {
    border: 0;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 250px;
    overflow-y: auto;
}

.icon-background-g{
    color: #54f28f;
}

.icon-background-y{
    color: #e8f965;
}

.icon-background-r{
    color: #f94c4c;
}

.icon-background-b{
    color: #41b7f0;
}

[ui-grid-row] {
display: table-row;
}

.ui-grid-row, .ui-grid-cell {
height: auto!important;
}

.ui-grid-cell {
float: none;
display: table-cell;
}

.ui-grid-header-cell, .ui-grid-cell-contents {
white-space: normal;
padding: 2px;
word-break: break-word;
}

.label-5px-right {
    margin-right: 5px;
}

/* New Timeline style */
.vertical-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 100%;
    max-width: 1170px;
    margin: 0 !important;
}
.vertical-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}
#vertical-timeline {
    position: relative;
    padding: 0;
    margin-top: 2em;
    margin-bottom: 2em;
}
#vertical-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #f1f1f1;
}
#vertical-timeline.light-timeline:before {
    background: #e7eaec;
}

.vertical-timeline-block {
    position: relative;
    margin: 2em 0;
}
.vertical-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}
.vertical-timeline-block:first-child {
    margin-top: 0;
}
.vertical-timeline-block:last-child {
    margin-bottom: 0;
}
.vertical-timeline-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    border: 3px solid #f1f1f1;
    text-align: center;
    background-color: #f1f1f1;
}
.vertical-timeline-icon i {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -9px;
}

.vertical-timeline-content {
    position: relative;
    margin-left: 60px;
    background: #f1f1f1;
    border-radius: 0.25em;
    padding: 0.5em;
}
.vertical-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}
.vertical-timeline-content h4 {
    font-weight: 400;
    margin-top: 5px;
    margin-left: 5px;
}
.vertical-timeline-content p {
    margin: 1em 5px;
    line-height: 1.6;
}
.vertical-timeline-content .vertical-date {
    float: left;
    font-weight: 500;
    margin-right: 5px;
}
.vertical-date small {
    color: #337ab7;
    font-weight: 300;
}
.vertical-timeline-content::before {
    content: '';
    position: absolute;
    top: 10px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
}

.grey-bg {
    background-color: #f1f1f1;
}

.no-margins {
    margin: 0 !important;
}

.dnd ul[dnd-list],
.dnd ul[dnd-list] > li {
	position: relative;
}

.dnd ul[dnd-list] {
    min-height: 24px;
    padding-left: 0px;
}

.dnd ul[dnd-list] .dndDraggingSource {
    display: none;
}

.dnd ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 24px;
}

.dnd ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 5px 5px;
    margin-bottom: -1px;
}

.dnd ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}
