<div class="ui-grid-cell-contents">
    <div align="center">
        <a tooltip-placement="right" uib-tooltip="Edit Activity" ng-click="grid.appScope.vm.editActivity(row)">
        <i class="fa fa-edit"></i></a>
    </div>
</div>
