<div class="user pull-right">
    <span class="item dropdown" uib-dropdown on-toggle="toggled(open)">
        <a href class="dropdown-toggle" ng-click="logout()" style="cursor:pointer" uib-dropdown-toggle><i class="fa fa-sign-out"></i></a>
    </span>
    <span class="item dropdown" uib-dropdown on-toggle="toggled(open)">
        <a href class="dropdown-toggle" id="simple-dropdown" uib-dropdown-toggle><i class="fa fa-user"></i></a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header"><h5>{{vm.user.name}} {{vm.user.email}}</h5></li>
            <li class="divider"></li>
            <li class="link">
                <a href="#/profile" ui-sref="admin.profile">Profile</a>
            </li>
        </ul>
    </span>
    <!--<span class="item dropdown" uib-dropdown on-toggle="toggled(open)">
        <a href id="simple-dropdown" uib-dropdown-toggle><i class="fa fa-bell-o"></i></a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">Notifications</li>
            <li class="divider"></li>
            <li class="link">
                <a href="#">Server Down!</a>
            </li>
        </ul>
    </span>-->
</div>
