<div class="container">
    <div class="row">
        <div class="board">
            <div class="board-inner">
                <ul class="nav nav-tabs" id="myTab">
                    <div class="liner"></div>
                    <li>
                        <a ui-sref="account.activity" data-toggle="tab" title="Contact">
                            <span class="round-tabs one">
                                <i class="fa fa-info"></i>
                            </span>
                        </a>
                    </li>
                    <li class="active">
                        <a ui-sref="account.activity.discovery" data-toggle="tab" title="Discovery">
                            <span class="round-tabs two">
                                <i class="fa fa-eye"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="account.activity.proposal" data-toggle="tab" title="Proposal">
                            <span class="round-tabs three">
                                <i class="fa fa-file-powerpoint-o"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade in active">
                    <div class="row">
                        <div ng-if="vm.activity_id != null && vm.activity_id !== 'new'" class="col-xs-3">
                            <h6 class="text-left">{{vm.activity.contact_full_name}} {{vm.contact.email}}</h6>
                            <h6 ng-if="vm.contact.business_phone !== undefined" class="text-left">Bus: {{vm.contact.business_phone}}</h6>
                            <h6 ng-if="vm.contact.cell_phone !== undefined" class="text-left">Cell: {{vm.contact.cell_phone}}</h6>
                            <span ng-repeat="co in vm.contact.companies" class="label label-default label-5px-right"><i class="menu-icon fa fa-industry"></i> {{co.name}}</span>
                        </div>
                        <div class="col-xs-6">
                            <h2 class="text-center">Discovery<h2>
                        </div>
                        <div ng-if="vm.activity.discovery_status === undefined" class="col-xs-3">
                            <h6 class="text-right">{{vm.discovery.date}} {{vm.discovery.time}}</h6>
                        </div>
                        <div ng-if="vm.activity.discovery_status === true" class="col-xs-3">
                            <h6 class="text-right"><u>Added:</u> {{vm.discovery.date_added}} {{vm.discovery.time_added}}</h6>
                            <h6 class="text-right"><u>Updated:</u> {{vm.discovery.date_updated}} {{vm.discovery.time_updated}}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12"><br>
                            <form method="get" class="form-horizontal">
                                <fieldset>
                                    <legend><i class="menu-icon fa fa-list-ul"></i> Preferences</legend>
                                    <div ng-if="preferences.lists.P.length !== 0" class="dnd row"><br>
                                        <div class="col-xs-8">
                                            <div class="row">
                                                <div ng-repeat="list in preferences.lists">
                                                    <div class="panel panel-info">
                                                        <div class="panel-heading">
                                                            <h3 class="panel-title">Ranked Preferences</h3>
                                                        </div>
                                                        <div class="panel-body">
                                                            <ul dnd-list="list">
                                                                <li ng-repeat="item in list"
                                                                    dnd-draggable="item"
                                                                    dnd-moved="list.splice($index, 1)"
                                                                    dnd-effect-allowed="move"
                                                                    dnd-selected="preferences.selected = item; vm.selectPreference(item.$id)"
                                                                    dnd-dragend="vm.preferenceRanking($index, item.$id, event)"
                                                                    ng-class="{'selected': preferences.selected === item}">
                                                                    <span ng-if="item.notes !== undefinded">{{item.$priority}}{{'.'}} {{item.label}} {{' - '}}{{item.notes}}</span>
                                                                    <span ng-if="item.notes === undefinded">{{item.$priority}}{{'.'}} {{item.label}}</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <div class="panel panel-info">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">{{vm.contact_preference.label}} Notes</h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        <textarea class="form-control" ng-model="vm.contact_preference.notes"
                                                            ng-change="vm.updatePreferenceNote(vm.contact_preference.$id, vm.contact_preference.label)"
                                                            placeholder="Enter {{vm.contact_preference.label}} Notes" rows="6"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="preferences.lists.P.length === 0" class="dnd row"><br>
                                        <div class="col-xs-4 col-xs-offset-4">
                                            <div class="form-group">
                                                <div class="panel panel-info">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">Ranked Preferences</h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        <h4 class="text-center">Preferences are not setup</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <legend><i class="menu-icon fa fa-line-chart"></i> KPI Triggers</legend>
                                    <div ng-if="kpis.lists.P.length !== 0" class="dnd row"><br>
                                        <div class="col-xs-8">
                                            <div class="row">
                                                <div ng-repeat="list in kpis.lists">
                                                    <div class="panel panel-info">
                                                        <div class="panel-heading">
                                                            <h3 class="panel-title">Ranked Preferences</h3>
                                                        </div>
                                                        <div class="panel-body">
                                                            <ul dnd-list="list">
                                                                <li ng-repeat="item in list"
                                                                    dnd-draggable="item"
                                                                    dnd-moved="list.splice($index, 1)"
                                                                    dnd-effect-allowed="move"
                                                                    dnd-selected="kpis.selected = item; vm.selectKpi(item.$id)"
                                                                    dnd-dragend="vm.kpiRanking($index, item.$id, event)"
                                                                    ng-class="{'selected': kpis.selected === item}">
                                                                    <span ng-if="item.notes !== undefinded">{{item.$priority}}{{'.'}} {{item.label}} {{' - '}}{{item.notes}}</span>
                                                                    <span ng-if="item.notes === undefinded">{{item.$priority}}{{'.'}} {{item.label}}</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <div class="panel panel-info">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">{{vm.contact_kpi.label}} Notes</h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        <textarea class="form-control" ng-model="vm.contact_kpi.notes"
                                                            ng-change="vm.updateKpiNote(vm.contact_kpi.$id, vm.contact_kpi.label)"
                                                            placeholder="Enter {{vm.contact_kpi.label}} Notes" rows="6"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="kpis.lists.K.length === 0" class="dnd row"><br>
                                        <div class="col-xs-4 col-xs-offset-4">
                                            <div class="form-group">
                                                <div class="panel panel-info">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">Ranked KPI's</h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        <h4 class="text-center">KPI's are not setup</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <legend><i class="menu-icon fa fa-question-circle"></i> Business Questions</legend>
                                    <div ng-repeat="b in vm.business_questions" class="form-group">
                                        <div class="col-xs-8 col-xs-offset-2">
                                            <label>{{b.question}}</label>
                                        </div>
                                        <div ng-if="b.name === 'question1'" class="col-xs-8 col-xs-offset-2">
                                            <textarea class="form-control" ng-model="vm.contact.business_answers.question1.answer" ng-change="vm.updateBusinessAnswer(b.name)"
                                                placeholder="Enter Business Question Answers" rows="3"></textarea>
                                            <span ng-if="vm.contact.business_answers.question1.date_updated !== undefined" class="pull-right">
                                                <label>Last Update: </label>
                                                <label>{{vm.contact.business_answers.question1.date_updated}}</label>
                                                <label>{{vm.contact.business_answers.question1.time_updated}}</label>
                                            </span>
                                        </div>
                                        <div ng-if="b.name === 'question2'" class="col-xs-8 col-xs-offset-2">
                                            <textarea class="form-control" ng-model="vm.contact.business_answers.question2.answer" ng-change="vm.updateBusinessAnswer(b.name)"
                                                placeholder="Enter Business Question Answers" rows="3"></textarea>
                                            <span ng-if="vm.contact.business_answers.question2.date_updated !== undefined" class="pull-right">
                                                <label>Last Update: </label>
                                                <label>{{vm.contact.business_answers.question2.date_updated}}</label>
                                                <label>{{vm.contact.business_answers.question2.time_updated}}</label>
                                            </span>
                                        </div>
                                        <div ng-if="b.name === 'question3'" class="col-xs-8 col-xs-offset-2">
                                            <textarea class="form-control" ng-model="vm.contact.business_answers.question3.answer" ng-change="vm.updateBusinessAnswer(b.name)"
                                                placeholder="Enter Business Question Answers" rows="3"></textarea>
                                            <span ng-if="vm.contact.business_answers.question3.date_updated !== undefined" class="pull-right">
                                                <label>Last Update: </label>
                                                <label>{{vm.contact.business_answers.question3.date_updated}}</label>
                                                <label>{{vm.contact.business_answers.question3.time_updated}}</label>
                                            </span>
                                        </div>
                                        <div ng-if="b.name === 'question4'" class="col-xs-8 col-xs-offset-2">
                                            <textarea class="form-control" ng-model="vm.contact.business_answers.question4.answer" ng-change="vm.updateBusinessAnswer(b.name)"
                                                placeholder="Enter Business Question Answers" rows="3"></textarea>
                                            <span ng-if="vm.contact.business_answers.question4.date_updated !== undefined" class="pull-right">
                                                <label>Last Update: </label>
                                                <label>{{vm.contact.business_answers.question4.date_updated}}</label>
                                                <label>{{vm.contact.business_answers.question4.time_updated}}</label>
                                            </span>
                                        </div>
                                        <div ng-if="b.name === 'question5'" class="col-xs-8 col-xs-offset-2">
                                            <textarea class="form-control" ng-model="vm.contact.business_answers.question5.answer" ng-change="vm.updateBusinessAnswer(b.name)"
                                                placeholder="Enter Business Question Answers" rows="3"></textarea>
                                            <span ng-if="vm.contact.business_answers.question5.date_updated !== undefined" class="pull-right">
                                                <label>Last Update: </label>
                                                <label>{{vm.contact.business_answers.question5.date_updated}}</label>
                                                <label>{{vm.contact.business_answers.question5.time_updated}}</label>
                                            </span>
                                        </div>
                                        <div ng-if="b.name === 'question6'" class="col-xs-8 col-xs-offset-2">
                                            <textarea class="form-control" ng-model="vm.contact.business_answers.question6.answer" ng-change="vm.updateBusinessAnswer(b.name)"
                                                placeholder="Enter Business Question Answers" rows="3"></textarea>
                                            <span ng-if="vm.contact.business_answers.question6.date_updated !== undefined" class="pull-right">
                                                <label>Last Update: </label>
                                                <label>{{vm.contact.business_answers.question6.date_updated}}</label>
                                                <label>{{vm.contact.business_answers.question6.time_updated}}</label>
                                            </span>
                                        </div>
                                        <div ng-if="b.name === 'question7'" class="col-xs-8 col-xs-offset-2">
                                            <textarea class="form-control" ng-model="vm.contact.business_answers.question7.answer" ng-change="vm.updateBusinessAnswer(b.name)"
                                                placeholder="Enter Business Question Answers" rows="3"></textarea>
                                            <span ng-if="vm.contact.business_answers.question7.date_updated !== undefined" class="pull-right">
                                                <label>Last Update: </label>
                                                <label>{{vm.contact.business_answers.question7.date_updated}}</label>
                                                <label>{{vm.contact.business_answers.question7.time_updated}}</label>
                                            </span>
                                        </div>
                                        <div ng-if="b.name === 'question8'" class="col-xs-8 col-xs-offset-2">
                                            <textarea class="form-control" ng-model="vm.contact.business_answers.question8.answer" ng-change="vm.updateBusinessAnswer(b.name)"
                                                placeholder="Enter Business Question Answers" rows="3"></textarea>
                                            <span ng-if="vm.contact.business_answers.question8.date_updated !== undefined" class="pull-right">
                                                <label>Last Update: </label>
                                                <label>{{vm.contact.business_answers.question8.date_updated}}</label>
                                                <label>{{vm.contact.business_answers.question8.time_updated}}</label>
                                            </span>
                                        </div>
                                        <div ng-if="b.name === 'question9'" class="col-xs-8 col-xs-offset-2">
                                            <textarea class="form-control" ng-model="vm.contact.business_answers.question9.answer" ng-change="vm.updateBusinessAnswer(b.name)"
                                                placeholder="Enter Business Question Answers" rows="3"></textarea>
                                            <span ng-if="vm.contact.business_answers.question9.date_updated !== undefined" class="pull-right">
                                                <label>Last Update: </label>
                                                <label>{{vm.contact.business_answers.question9.date_updated}}</label>
                                                <label>{{vm.contact.business_answers.question9.time_updated}}</label>
                                            </span>
                                        </div>
                                    </div>
                                    <legend><i class="menu-icon fa fa-question-circle"></i> Solution Questions</legend>
                                    <div ng-repeat="s in vm.solution_questions" class="form-group">
                                        <div class="col-xs-8 col-xs-offset-2">
                                            <label>{{s.question}}</label>
                                        </div>
                                        <div ng-if="s.name === 'question1'" class="col-xs-8 col-xs-offset-2">
                                            <textarea class="form-control" ng-model="vm.contact.solution_answers.question1.answer" ng-change="vm.updateSolutionAnswer(s.name)"
                                                placeholder="Enter Business Question Answers" rows="3"></textarea>
                                            <span ng-if="vm.contact.solution_answers.question1.date_updated !== undefined" class="pull-right">
                                                <label>Last Update: </label>
                                                <label>{{vm.contact.solution_answers.question1.date_updated}}</label>
                                                <label>{{vm.contact.solution_answers.question1.time_updated}}</label>
                                            </span>
                                        </div>
                                        <div ng-if="s.name === 'question2'" class="col-xs-8 col-xs-offset-2">
                                            <textarea class="form-control" ng-model="vm.contact.solution_answers.question2.answer" ng-change="vm.updateSolutionAnswer(s.name)"
                                                placeholder="Enter Business Question Answers" rows="3"></textarea>
                                            <span ng-if="vm.contact.solution_answers.question2.date_updated !== undefined" class="pull-right">
                                                <label>Last Update: </label>
                                                <label>{{vm.contact.solution_answers.question2.date_updated}}</label>
                                                <label>{{vm.contact.solution_answers.question2.time_updated}}</label>
                                            </span>
                                        </div>
                                        <div ng-if="s.name === 'question3'" class="col-xs-8 col-xs-offset-2">
                                            <textarea class="form-control" ng-model="vm.contact.solution_answers.question3.answer" ng-change="vm.updateSolutionAnswer(s.name)"
                                                placeholder="Enter Business Question Answers" rows="3"></textarea>
                                            <span ng-if="vm.contact.solution_answers.question3.date_updated !== undefined" class="pull-right">
                                                <label>Last Update: </label>
                                                <label>{{vm.contact.solution_answers.question3.date_updated}}</label>
                                                <label>{{vm.contact.solution_answers.question3.time_updated}}</label>
                                            </span>
                                        </div>
                                        <div ng-if="s.name === 'question4'" class="col-xs-8 col-xs-offset-2">
                                            <textarea class="form-control" ng-model="vm.contact.solution_answers.question4.answer" ng-change="vm.updateSolutionAnswer(s.name)"
                                                placeholder="Enter Business Question Answers" rows="3"></textarea>
                                            <span ng-if="vm.contact.solution_answers.question4.date_updated !== undefined" class="pull-right">
                                                <label>Last Update: </label>
                                                <label>{{vm.contact.solution_answers.question4.date_updated}}</label>
                                                <label>{{vm.contact.solution_answers.question4.time_updated}}</label>
                                            </span>
                                        </div>
                                        <div ng-if="s.name === 'question5'" class="col-xs-8 col-xs-offset-2">
                                            <textarea class="form-control" ng-model="vm.contact.solution_answers.question5.answer" ng-change="vm.updateSolutionAnswer(s.name)"
                                                placeholder="Enter Business Question Answers" rows="3"></textarea>
                                            <span ng-if="vm.contact.solution_answers.question5.date_updated !== undefined" class="pull-right">
                                                <label>Last Update: </label>
                                                <label>{{vm.contact.solution_answers.question5.date_updated}}</label>
                                                <label>{{vm.contact.solution_answers.question5.time_updated}}</label>
                                            </span>
                                        </div>
                                        <div ng-if="s.name === 'question6'" class="col-xs-8 col-xs-offset-2">
                                            <textarea class="form-control" ng-model="vm.contact.solution_answers.question6.answer" ng-change="vm.updateSolutionAnswer(s.name)"
                                                placeholder="Enter Business Question Answers" rows="3"></textarea>
                                            <span ng-if="vm.contact.solution_answers.question6.date_updated !== undefined" class="pull-right">
                                                <label>Last Update: </label>
                                                <label>{{vm.contact.solution_answers.question6.date_updated}}</label>
                                                <label>{{vm.contact.solution_answers.question6.time_updated}}</label>
                                            </span>
                                        </div>
                                        <div ng-if="s.name === 'question7'" class="col-xs-8 col-xs-offset-2">
                                            <textarea class="form-control" ng-model="vm.contact.solution_answers.question7.answer" ng-change="vm.updateSolutionAnswer(s.name)"
                                                placeholder="Enter Business Question Answers" rows="3"></textarea>
                                            <span ng-if="vm.contact.solution_answers.question1.date_updated !== undefined" class="pull-right">
                                                <label>Last Update: </label>
                                                <label>{{vm.contact.solution_answers.question7.date_updated}}</label>
                                                <label>{{vm.contact.solution_answers.question7.time_updated}}</label>
                                            </span>
                                        </div>
                                        <div ng-if="s.name === 'question8'" class="col-xs-8 col-xs-offset-2">
                                            <textarea class="form-control" ng-model="vm.contact.solution_answers.question8.answer" ng-change="vm.updateSolutionAnswer(s.name)"
                                                placeholder="Enter Business Question Answers" rows="3"></textarea>
                                            <span ng-if="vm.contact.solution_answers.question8.date_updated !== undefined" class="pull-right">
                                                <label>Last Update: </label>
                                                <label>{{vm.contact.solution_answers.question8.date_updated}}</label>
                                                <label>{{vm.contact.solution_answers.question8.time_updated}}</label>
                                            </span>
                                        </div>
                                        <div ng-if="s.name === 'question9'" class="col-xs-8 col-xs-offset-2">
                                            <textarea class="form-control" ng-model="vm.contact.solution_answers.question9.answer" ng-change="vm.updateSolutionAnswer(s.name)"
                                                placeholder="Enter Business Question Answers" rows="3"></textarea>
                                            <span ng-if="vm.contact.solution_answers.question9.date_updated !== undefined" class="pull-right">
                                                <label>Last Update: </label>
                                                <label>{{vm.contact.solution_answers.question9.date_updated}}</label>
                                                <label>{{vm.contact.solution_answers.question9.time_updated}}</label>
                                            </span>
                                        </div>
                                    </div>
                                    <legend>&nbsp;</legend>
                                </fieldset>
                                <div class="form-group">
                                    <div class="col-lg-3">
                                        <button ui-sref="account.activity" type="button" class="btn btn-default pull-right"><i class="fa fa-chevron-left"></i> Back</button>
                                    </div>
                                    <div class="col-lg-3 col-lg-offset-6">
                                        <button ng-click="vm.updateDiscovery()" type="button" class="btn btn-default pull-left">Next <i class="fa fa-chevron-right"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
