<link rel="stylesheet" href="css/activity.css"/>
<div class="row header">
    <div class="col-xs-12">
        <span ng-include="'app/layout/topbar.html'"></span>
        <div class="meta">
            <div class="page"><span class="menu-icon fa fa-share-alt"></span> Activity</div>
            <div class="breadcrumb-links">
                <a ui-sref="account.activities">Activities</a> / Activity
            </div>
        </div>
	</div>
</div>
