<div class="container">
    <div class="row">
        <div class="board">
            <div class="board-inner">
                <ul class="nav nav-tabs" id="myTab">
                    <div class="liner"></div>
                    <li class="active">
                        <a ui-sref="account.activity" data-toggle="tab" title="Contact">
                            <span class="round-tabs one">
                                <i class="fa fa-info"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="account.activity.discovery" data-toggle="tab" title="Discovery">
                            <span class="round-tabs two">
                                <i class="fa fa-eye"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="account.activity.proposal" data-toggle="tab" title="Proposal">
                            <span class="round-tabs three">
                                <i class="fa fa-file-powerpoint-o"></i>
                            </span>
                        </a>
                    </li>
                </ul>
             </div>
             <div class="tab-content">
                 <div class="tab-pane fade in active">
                     <div class="row">
                         <div ng-if="vm.activity_id != null && vm.activity_id !== 'new'" class="col-xs-3"><br>
                             <span ng-repeat="co in vm.contact.companies" class="label label-default label-5px-right"><i class="menu-icon fa fa-industry"></i> {{co.name}}</span>
                         </div>
                         <div class="col-xs-6">
                            <h2 class="text-center">Contact<h2>
                         </div>
                         <div ng-if="vm.activity_id === null || vm.activity_id === 'new'" class="col-xs-3">
                             <h6 class="text-right">{{vm.activity.date}} {{vm.activity.time}}</h6>
                         </div>
                         <div ng-if="vm.activity_id != null && vm.activity_id !== 'new'" class="col-xs-3">
                             <h6 class="text-right"><u>Added:</u> {{vm.activity.date_added}} {{vm.activity.time_added}}</h6>
                             <h6 class="text-right"><u>Updated:</u> {{vm.activity.date_updated}} {{vm.activity.time_updated}}</h6>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-xs-12"><br>
                             <form method="get" class="form-horizontal">
                                 <div class="form-group">
                                     <label class="control-label col-xs-3">Activity Type</label>
                                     <div class="col-xs-6">
                                         <select ng-model="vm.activity.activity_type_id" class="form-control">
                                             <option ng-repeat="a in vm.activity_types" value="{{a.$id}}">{{a.name}}</option>
                                         </select>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="control-label col-xs-3">Contact</label>
                                     <div class="col-xs-6">
                                         <ui-select ng-change="vm.getContact(vm.activity_contact.selected)" ng-model="vm.activity_contact.selected" theme="bootstrap" ng-disabled="disabled">
                                             <ui-select-match placeholder="Search contacts...">{{$select.selected.full_name}}</ui-select-match>
                                             <ui-select-choices repeat="c in vm.contacts | filter: $select.search">
                                                 <span ng-bind-html="c.full_name | highlight: $select.search"></span>
                                             </ui-select-choices>
                                         </ui-select>
                                    </div>
                                    <label ng-if="vm.new_button === 'on'" class="control-label col-xs-1">
                                        <button ng-click="vm.newContact()" type="button" class="btn btn-success btn-xs pull-left">New</button>
                                    </label>
                                 </div>
                             </form>
                             <form method="get" class="form-horizontal">
                                 <fieldset ng-if="vm.contact_id != null">
                                     <legend><i class="menu-icon fa fa-user"></i> {{vm.contact_label}}</legend>
                                     <div class="form-group">
                                         <label class="control-label col-xs-3">Industry Group</label>
                                         <div class="col-xs-6">
                                             <select ng-model="vm.contact.group" ng-change="vm.updateContact()" class="form-control">
                                                 <option ng-repeat="g in vm.groups" value="{{g.name}}">{{g.name}}</option>
                                             </select>
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <label class="control-label col-xs-3">Region</label>
                                         <div class="col-xs-6">
                                             <select ng-model="vm.contact.region" ng-change="vm.updateContact()" class="form-control">
                                                 <option ng-repeat="r in vm.regions" value="{{r.name}}">{{r.name}}</option>
                                             </select>
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <label class="control-label col-xs-3">First Name</label>
                                         <div class="col-xs-6">
                                             <input type="text" ng-model="vm.contact.first_name" ng-change="vm.updateContact()"
                                             placeholder="First Name" class="form-control">
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <label class="control-label col-xs-3">Last Name</label>
                                         <div class="col-xs-6">
                                             <input type="text" ng-model="vm.contact.last_name" ng-change="vm.updateContact()"
                                             placeholder="Last Name" class="form-control">
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <label class="control-label col-xs-3">E-Mail</label>
                                         <div class="col-xs-6">
                                             <input type="text" ng-model="vm.contact.email" ng-change="vm.updateContact()"
                                             placeholder="E-Mail" class="form-control">
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <label class="control-label col-xs-3">Cell Number</label>
                                         <div class="col-xs-6">
                                             <input type="text" ng-model="vm.contact.cell_phone" ng-change="vm.updateContact()"
                                             placeholder="Cell Phone Number" class="form-control">
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <label class="control-label col-xs-3">Business Phone Number</label>
                                         <div class="col-xs-6">
                                             <input type="text" ng-model="vm.contact.business_phone" ng-change="vm.updateContact()"
                                             placeholder="Business Number" class="form-control">
                                         </div>
                                     </div>
                                 </fieldset>
                                 <legend>&nbsp;</legend>
                                 <div ng-if="vm.activity_id === null" class="form-group">
                                     <div class="col-xs-3 col-xs-offset-9">
                                         <button ng-if="vm.next_button === null" ng-click="vm.addActivity()" type="button" class="btn btn-default pull-left">Next <i class="fa fa-chevron-right"></i></button>
                                         <button ng-if="vm.next_button === 'new'" ng-click="vm.addContact()" type="button" class="btn btn-primary pull-left"><i class="fa fa-user"></i> Save</button>
                                    </div>
                                 </div>
                                 <div ng-if="vm.activity_id != null" class="form-group">
                                     <div class="col-xs-3 col-xs-offset-9">
                                         <button ng-click="vm.updateActivity()" type="button" class="btn btn-default pull-left">Next <i class="fa fa-chevron-right"></i></button>
                                    </div>
                                 </div>
                             </form>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
</div>
