<div class="row header">
    <div class="col-xs-12">
        <span ng-include="'app/layout/topbar.html'"></span>
        <div class="meta">
            <div class="page"><span class="menu-icon fa fa-share-alt"></span> Activities</div>
        </div>
	</div>
</div>
