<div class="container-fluid">
    <div class="col-xs-12">
        <a type="button" class="btn btn-sm btn-primary list-btn pull-right" tooltip-placement="top" uib-tooltip="New"
            ui-sref="account.activity"><i class="fa fa-plus"></i>
        </a>
    </div>
    <div class="row">
        <div class="col-xs-12"><br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><span class="menu-icon fa fa-share-alt"></span> Activities</h4>
                </div>
                <div class="panel-body">
                    <div ui-grid="vm.gridActivities" class="grid-500"></div>
                </div>
            </div>
        </div>
    </div>
</div>
