<div class="container-fluid">
    <div class="col-xs-12">
        <a type="button" class="btn btn-sm btn-primary list-btn pull-right" tooltip-placement="top" uib-tooltip="New"
        href="#/contact" ui-sref="account.customers.contact"><i class="fa fa-plus"></i>
        </a>
    </div>
    <div class="row">
        <div class="col-xs-12"><br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><span class="menu-icon fa fa-users"></span> Contacts</h4>
                </div>
                <div class="panel-body">
                    <div ui-grid="vm.gridContacts" class="grid-500" ui-grid-edit ui-grid-cellNav></div>
                </div>
            </div>
        </div>
    </div>
</div>
