<nav class="navbar navbar-default">
    <div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
        <div class="collapse navbar-collapse">
	        <ul class="nav navbar-nav">
                <li><a ui-sref="account.customers"><span class="menu-icon fa fa-users"></span> Contacts</a></li>
		        <li><a ui-sref="account.customers.companies"><span class="menu-icon fa fa-industry"></span> Companies</a></li>
	        </ul>
	    </div>
	</div>
</nav>
<div ui-view="list"></div>
