<div class="row header">
    <div class="col-xs-12">
        <span ng-include="'app/layout/topbar.html'"></span>
        <div class="meta">
            <div class="page"><span class="menu-icon fa fa-heartbeat"></span> Customers</div>
            <div class="breadcrumb-links">
                <a ui-sref="account.customers">Customers</a> / Contacts</div>
            </div>
        </div>
	</div>
</div>
