<div class="ui-grid-cell-contents">
  <div align="center"><a tooltip-placement="right" uib-tooltip="Edit Contact"
     ng-click="grid.appScope.vm.editContact(row)">
    <i class="fa fa-edit"></i>
  </a></div>
</div>
