<div class="ui-grid-cell-contents">
    <div align="center">
        <a tooltip-placement="right" uib-tooltip="Remove Company" ng-click="grid.appScope.vm.removeCompanyFromContact(row)">
        <i class="fa fa-trash text-danger"></i></a>
    </div>
</div>
