<div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main">
                <a ng-click="toggleSidebar()">yohoCRM<span class="menu-icon glyphicon glyphicon-transfer"></span></a>
            </li>
            <li class="sidebar-title"><span>NAVIGATION</span></li>
            <li class="sidebar-list" ng-repeat="item in items" ng-click="showChilds(item)">
                <a ui-sref={{item.link}}>{{item.name}} <span class={{item.icon}}></span></a>
                <ul class="sub-sidebar">
                    <li class="sub-sidebar-list" ng-repeat="subItem in item.subItems" ng-show="item.active">
                        <a ui-sref={{subItem.link}}>{{subItem.name}} <span class={{subItem.icon}}></span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div ui-view="header"></div>
    <div ui-view="menu"></div>
</div>
