<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="menu-icon fa fa-upload"></span> Import Companies</h3>
            </div>
            <div class="panel-body">
                <div ui-grid="vm.gridImportCompanies" class="grid-500" ui-grid-edit ui-grid-importer ui-grid-row-edit></div>
            </div>
        </div>
    </div>
</div>
