<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a class="panel-heading-link" ui-sref="account.tools.import-companies"><span class="menu-icon fa fa-upload"></span> Import Companies</a></li>
				<li><a class="panel-heading-link" ui-sref="account.tools.import-contacts"><span class="menu-icon fa fa-upload"></span> Import Contacts</a></li>
			</ul>
		</div>
	</div>
</nav>
<div ui-view="list"></div>
