<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/" class="pull-left"><img src="app/img/proenergylogo.png"></a>
        </div>
    </div>
</nav>

<div class="container top-space-80">
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <a class="btn btn-lg btn-primary" ui-sref="login" role="button">Login</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-primary" ui-sref="register" role="button">Register</a>
        </div>
    </div>
</div>
