<div class="ui-grid-cell-contents">
    <div align="center">
        <a tooltip-placement="left" uib-tooltip="Delete" ng-click="grid.appScope.vm.removeNode(row, 'regions')">
        <i class="fa fa-trash text-danger"></i></a>
    </div>
</div>
