<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-8 col-xs-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<div class="row">
    					<div class="col-xs-3">
    						<div class="pull-left">
    							<span class="fa-stack fa-3x">
      							<i class="fa fa-circle fa-stack-2x icon-background-g"></i>
    								<i class="fa fa-dollar fa-stack-1x"></i>
    							</span>
    						</div>
    					</div>
    					<div class="col-xs-9 text-right">
    						<h3>{{vm.activityCount}}</h3>
    						<h5>Activities</h5>
    					</div>
    				</div>
    			</div>
    			<div class="panel-body">
    				<a ui-sref="account.sales">
    					<span class="pull-left">View Activities</span>
    					<span class="pull-right">
    						<i class="fa fa-chevron-circle-right"></i>
    					</span>
    				</a>
    			</div>
    		</div>
    	</div>
        <div class="col-lg-4 col-md-8 col-xs-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<div class="row">
    					<div class="col-xs-3">
    						<div class="pull-left">
    							<span class="fa-stack fa-3x">
      							<i class="fa fa-circle fa-stack-2x icon-background-b"></i>
    								<i class="fa fa-industry fa-stack-1x"></i>
    							</span>
    						</div>
    					</div>
    					<div class="col-xs-9 text-right">
    						<h3>{{vm.companyCount}}</h3>
    						<h5>Companies</h5>
    					</div>
    				</div>
    			</div>
    			<div class="panel-body">
    				<a ui-sref="account.customers.companies">
    					<span class="pull-left">View Companies</span>
    					<span class="pull-right">
    						<i class="fa fa-chevron-circle-right"></i>
    					</span>
    				</a>
    			</div>
    		</div>
    	</div>
    	<div class="col-lg-4 col-md-8 col-xs-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<div class="row">
    					<div class="col-xs-3">
    						<div class="pull-left">
    							<span class="fa-stack fa-3x">
      							<i class="fa fa-circle fa-stack-2x icon-background-y"></i>
    								<i class="fa fa-users fa-stack-1x"></i>
    							</span>
    						</div>
    					</div>
    					<div class="col-xs-9 text-right">
    						<h3>{{vm.contactCount}}</h3>
    						<h5>Contacts</h5>
    					</div>
    				</div>
    			</div>
    			<div class="panel-body">
    				<a ui-sref="account.customers">
    					<span class="pull-left">View Contacts</span>
    					<span class="pull-right">
    						<i class="fa fa-chevron-circle-right"></i>
    					</span>
    				</a>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="row">
    	<div class="col-xs-6">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title"><span class="menu-icon fa fa-dollar"></span> Recent Activities</h3>
    			</div>
                <div class="panel-body">
                    <div ui-grid=vm.gridActivities class="grid-423"></div>
                </div>
    		</div>
    	</div>
    	<div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                	<h3 class="panel-title"><span class="menu-icon fa fa-calendar"></span> Calendar</h3>
                </div>
                <div class="panel-body">
                    <div ng-if="vm.eventsLoaded === true" ui-calendar="vm.uiConfig.calendar" calendar="myCalendar" ng-model="vm.eventSources"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 ng-if="event.title === undefined" class="modal-title">Untitled - Appointment</h3>
        <h3 ng-if="event.title !== null" class="modal-title">{{event.title}}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-xs-3">Subject</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" ng-model="event.title">
                </div>
            </div>
            <!--<div class="form-group">
                <label class="control-label col-xs-3">Categories</label>
                <div class="col-xs-8">
                    <select ng-model="event.type" class="form-control">
                        <option value="important">Important</option>
                        <option value="warning">Warning</option>
                        <option value="info">Info</option>
                        <option value="inverse">Inverse</option>
                        <option value="success">Success</option>
                        <option value="special">Special</option>
                    </select>
                </div>
            </div>-->
            <div class="form-group">
                <label class="control-label col-xs-3">Starts</label>
                <div class="col-xs-4">
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="event.startDate"
                            is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="input-group">
                        <input id="startTime" type="time" class="form-control" step="60" value="{{displayStartTime}}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">Ends</label>
                <div class="col-xs-4">
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="event.endDate"
                            is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="input-group">
                        <input id="endTime" type="time" class="form-control" step="60" value="{{displayEndTime}}">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="saveEvent()">Save</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
