<div class="container-fluid">
    <div class="col-xs-12">
        <fieldset>
            <legend><i class="menu-icon fa fa-user-plus"></i> Profiles</legend>
            <uib-accordion>
                <uib-accordion-group is-open="status.open">
                    <uib-accordion-heading>
                        Target Profile <span class="label label-info"><i class="menu-icon fa fa-bullseye"></i> Target</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </uib-accordion-heading>
                    <form class="form-horizontal" role="form">
                        <fieldset>
                            <div class="form-group">
                                <label class="control-label col-xs-3">Attributes</label>
                                <div class="col-xs-6">
                                    <textarea class="form-control" ng-model="vm.target_attributes" ng-change="vm.updateProfileAttributes('target')"
                                        placeholder="Enter Attributes for Target Profile" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">Objectives</label>
                                <div class="col-xs-6">
                                    <textarea class="form-control" ng-model="vm.target_objectives" ng-change="vm.updateProfileObjectives('target')"
                                        placeholder="Enter Objective for Target Profile" rows="3"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </uib-accordion-group>
            </uib-accordion>
            <uib-accordion>
                <uib-accordion-group is-open="status.open">
                    <uib-accordion-heading>
                        Prospect Profile <span class="label label-warning"><i class="menu-icon fa fa-check"></i>
                            Prospect</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </uib-accordion-heading>
                    <form class="form-horizontal" role="form">
                        <fieldset>
                            <div class="form-group">
                                <label class="control-label col-xs-3">Attributes</label>
                                <div class="col-xs-6">
                                    <textarea class="form-control" ng-model="vm.prospect_attributes" ng-change="vm.updateProfileAttributes('prospect')"
                                        placeholder="Enter Attributes for Prospect Profile" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">Objective</label>
                                <div class="col-xs-6">
                                    <textarea class="form-control" ng-model="vm.prospect_objectives" ng-change="vm.updateProfileObjectives('prospect')"
                                        placeholder="Enter Objective for Prospect Profile" rows="3"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </uib-accordion-group>
            </uib-accordion>
            <uib-accordion>
                <uib-accordion-group is-open="status.open">
                    <uib-accordion-heading>
                        Customer Profile <span class="label label-success"><i class="menu-icon fa fa-heartbeat"></i>
                            Customer</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </uib-accordion-heading>
                    <form class="form-horizontal" role="form">
                        <fieldset>
                            <div class="form-group">
                                <label class="control-label col-xs-3">Attributes</label>
                                <div class="col-xs-6">
                                    <textarea class="form-control" ng-model="vm.customer_attributes" ng-change="vm.updateProfileAttributes('customer')"
                                        placeholder="Enter Attributes for Prospect Profile" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">Objective</label>
                                <div class="col-xs-6">
                                    <textarea class="form-control" ng-model="vm.customer_objectives" ng-change="vm.updateProfileObjectives('customer')"
                                        placeholder="Enter Objective for Customer Profile" rows="3"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </uib-accordion-group>
            </uib-accordion>
        </fieldset>
        <fieldset>
            <legend><i class="menu-icon fa fa-industry"></i> Industry Groups</legend>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-4">
                        <div class="input-group input-group-xs">
                            <span class="input-group-addon">Industry Group</span>
                            <input type="text" ng-model="vm.industry_group.name" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" ng-click="vm.addNode('industry_group')" type="button"><span class="menu-icon fa fa-plus"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="menu-icon fa fa-industry"></i> Industry Groups</h3>
                </div>
                <div class="panel-body">
                    <div ui-grid="vm.gridIndustryGroups" class="grid-200"></div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend><i class="menu-icon fa fa-globe"></i> Regions</legend>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-4">
                        <div class="input-group input-group-xs">
                            <span class="input-group-addon">Region</span>
                            <input type="text" ng-model="vm.region.name" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" ng-click="vm.addNode('region')" type="button"><span class="menu-icon fa fa-plus"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="menu-icon fa fa-globe"></i> Regions</h3>
                </div>
                <div class="panel-body">
                    <div ui-grid="vm.gridRegions" class="grid-200"></div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
