<div class="row header">
    <div class="col-xs-12">
        <span ng-include="'app/layout/topbar.html'"></span>
        <div class="meta">
            <div class="page"><span class="menu-icon fa fa-gears"></span> System</div>
            <div class="breadcrumb-links">
                <a ui-sref="account.system">System</a> / Customer Setup</div>
            </div>
        </div>
	</div>
</div>
