<nav class="navbar navbar-default">
    <div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
        <div class="collapse navbar-collapse">
	        <ul class="nav navbar-nav">
		        <li><a ui-sref="account.system"><span class="menu-icon fa fa-users"></span> User Profiles</a></li>
                <li><a ui-sref="account.system.customer"><span class="menu-icon fa fa-heartbeat"></span> Customer Setup</a></li>
	            <li><a ui-sref="account.system.activity"><span class="menu-icon fa fa-share-alt"></span> Activity Setup</a></li>
	        </ul>
	    </div>
	</div>
</nav>
<div ui-view="list"></div>
